params {

    // Reads and references
    adapter_fa = "/projectnb/bf528/materials/project-3-chipseq/refs/TruSeq3-SE.fa"
    blacklist = "/projectnb/bf528/students/mgdouq/final-project-template-mgdouq-sudo/refs/mm10-blacklist.v2.bed"
    ucsc_genes = "/projectnb/bf528/students/mgdouq/final-project-template-mgdouq-sudo/refs/m39_genes.bed"
    TSS = "/projectnb/bf528/students/mgdouq/final-project-template-mgdouq-sudo/refs/mm39_TSS.bed" 

    genome = "/projectnb/bf528/students/mgdouq/final-project-template-mgdouq-sudo/refs/GRCm39.primary_assembly.genome.fa"
    gtf = "/projectnb/bf528/students/mgdouq/final-project-template-mgdouq-sudo/refs/gencode.vM38.primary_assembly.annotation.gtf"
    window = 2000
    //corrtype = 'pearson'
    corrtype = 'spearman'
    cdc1_lost_peaks = "$projectDir/cDC1_lost_accessibility.bed"
    cdc1_gained_peaks = "$projectDir/cDC1_gained_accessibility.bed"
    cdc2_lost_peaks = "$projectDir/cDC2_lost_accessibility.bed"
    cdc2_gained_peaks = "$projectDir/cDC2_gained_accessibility.bed"


    samplesheet = "$projectDir/samplesheet.csv"
    // subsampled_samplesheet = "$projectDir/subsampled_samplesheet.csv"

    // Directories
    outdir = "$projectDir/results/"
    refdir = "$projectDir/refs/"
}

profiles {
    conda {
        conda.enabled = true
    }
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
    }
    cluster {
        process {
            executor = 'sge'
            clusterOptions = '-P bf528'
            penv = 'omp'

            withLabel: process_single {
                cpus = 1
            }

            withLabel: process_low {
                cpus = 4
            }

            withLabel: process_medium {
                cpus = 8
            }

            withLabel: process_high {
                cpus = 32
            }
        }
    }


    local {
        process.executor = 'local'
    }
}

executor {
    $sge {
        queueSize = 8
    }
    $local {
        cpus = 1
    }
}

resume = true